# Raspberry Pi Specific Dependencies

# Core Math & Kinematics
numpy
spatialmath-python
scipy

# Computer Vision & GStreamer
opencv-python

# Control Theory
control
matplotlib

# Hardware Interaction
gpiozero
pigpio
